

#table-results .title-table, .q-table__title {
  font-size: 1.4em;
  color: #72818e;
}

#table-results .row-table {
  color: #8c9296;
  font-size: 1.4em;
  font-weight: 300;
  cursor: pointer;
}

.status-favored-table {
    width: 100%;
    font-size: 1.0em;
    padding: 10px;
    display:block!important;
}



.img-logo-bank-list {
  height: 25px;
}


.md-favored {

}

.md-favored .q-bar {
  height: 50px;
}

.content-buttons-footer-md-favored {
  display: block;
  height: 80px;
  width: 600px;
  margin: auto;
}

.btn-save , .btn-cancel {
  width: 150px;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px;
}

.btn-save {
  float: right;
}

.btn-cancel {
  float: left;
}

